
/* Full-width input fields */


h1{
  /*font-size: 1.75em;*/
  /*font-family: chalkduster, fantasy;*/
  font-family: Comic Sans MS;
  font-size: 280%;
  text-align: center;
  color: mediumblue;
}

h2{
  font-size: 1.75em;
  /*font-family: chalkduster, fantasy;*/
  /*font-family: Comic Sans MS;*/
  text-align: center;
  color: #8B4513;

}
body {
    background-repeat: no-repeat;
    /*background-size: 250% auto;*/
    font-family: Comic Sans MS;
    background-size: 130% ;
    background-position: center;
        background-attachment: fixed;

}

.container {
    padding: 16px;
    text-align: center;

}



/* Set a style for all buttons */
button {
    /*background-image: url("../images/MarioBrick.png");*/
    background-size: 100%;
    font-size: 20px;
    font-family: Comic Sans MS;
    font-weight: 400;
    display: inline-block;
    color: yellow;
    padding: 10px 20px;
    margin: 7px 0px;
    border: none;
    border-radius: 8%;
    cursor: pointer;
    width: 16%;
    height: 16%;
}

.play{
    position: relative;
    top:40px;
      display: block;
      cursor: pointer;
      font-size: 55px;
      font-weight: 600;
/*      background-image: url("../images/MarioBrick.png");*/
    background-size: 100%;
    background-color: #ff8325;
    border-radius: 50%;
    width: 30%;
}

.signup {
    position: relative;
    top:50px;
    display: block;
    cursor: pointer;
    background-color: green;
    color:yellowgreen;
/*#8FBC8F*/
    /*font-size: 20px;
    font-weight: 600;*/
/*    background-image: url("../images/MarioBrick.png");*/
    /*background-size: 100%;*/
}

.login{
  position: relative;
  top:50px;
  display: block;
  cursor: pointer;
  background-color: yellowgreen;
  color:green;
}

.backbtn{
  background-color: #FFE4B5;
  color:		#D2691E;
}


input[type=text], input[type=password] {
    width: 100%;
    width:230px;
    height:35px;
    padding: 10px 20px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=button] {
    background-size: 100%;
    font-size: 20px;
    font-family: Comic Sans MS;
    font-weight: 200;
    display: inline-block;
    padding: 10px 20px;;
    margin: 3px 0px;
    border: none;
    border-radius: 8%;
    cursor: pointer;
    width: 16%;
    height: 16%;
}

.loginbtn {
  /*background-color: green;
  color:yellowgreen;*/
  background-color: yellowgreen;
  color:green;
  }

  .cencelbtn{
    background-color: #FFE4B5;
    color:		#D2691E;
  }

  .signupbtn {
    background-color: green;
    color:yellowgreen;
    }

  label{
    color:	#8B4513;
    font-size:20px;
  }
